extends ../layout/base
block content
    if messages && messages.length
        each message in messages
            p #{message}
    form(class="form centered", method="post", action=(id ? `/recipes/${id}/edit` : `/recipes/add`), enctype="multipart/form-data")
        fieldset
            legend(align="center") #{ id? 'Update' : 'Add' } Recipe
            if id
                input(type="hidden", name="id", value=id)
            for field in fields
                div(class="h-field-group")
                    label(for=field.key, style="cursor: pointer;") #{field.label}#{field.required ? '*' : ''}
                    if field.fieldType == 'textarea'
                        textarea(
                            class="h-input h-textarea",
                            id=field.key,
                            name=field.key,
                            placeholder=field.label,
                            required=(field.required),
                            rows=1
                        ) #{field.value}
                    else if field.fieldType == 'select'
                        select(
                            class="h-input h-select",
                            id=field.key,
                            name=field.key,
                            placeholder=field.label,
                            required=(field.required)
                        )
                            for option in field.options
                                option(value=option.id, selected=(option.id === field.value)) #{option.name}
                    else if field.fieldType == 'file'
                        input(
                            type="file",
                            class="h-input h-file",
                            id=field.key,
                            name=field.key,
                            placeholder=field.label,
                            accept="image/*"
                            style="display:none;"
                        )
                        if field.value
                            img(src=(field.value.indexOf('//') !== -1 ? field.value : `${uploadsDir}/${field.value}`), id=`${field.key}Img`, alt=`${field.value} image`)
                        else
                            img(src="/public/havyt-img.png", id=`${field.key}Img`, alt=`default image`, style="height: 100px;")
                        small(id=`${field.key}Name`) #{field.value || `(upload an image, by clicking on the image above - max ${uploadSize})`}
                    else
                        input(
                            type=field.fieldType,
                            class="h-input h-text",
                            id=field.key,
                            name=field.key,
                            placeholder=field.label,
                            value=field.value
                            required=(field.required)
                        )
            button(type="submit", class="h-btn centered") #{ id? 'Update' : 'Add' } Recipe
