extends ../layout/base
block content
    div(id="app")
        ul
            each recipe in recipes
                li
                    a(href=`/recipes/${recipe.id}`, title="View #{recipe.name}") #{recipe.name}
                    |
                    |
                    a(href=`/recipes/${recipe.id}/edit`, title="Update #{recipe.name}") (update)
        a(href=`/recipes/add`, title="Add Recipe") Add a new recipe
